@import "fonts";
@import "anims";

:root {
   --main: #7b9acc;
   --main-hover: #77abff;
   --bg: #FCF6F5;
   --h1: #7b9acc;
   --h2: #666666;
   --shadow: #7b9acc33;
}

@media (prefers-color-scheme: dark) {
   html {
      color-scheme: dark;
   }

   :root {
      --main: #3782be;
      --main-hover: #435f97;
      --bg: #34343d;
      --h1: #3e78d4;
      --h2: #8a8a8a;
      --shadow: #30303a;

   }
}

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

*:focus {
   outline: none;
}

html,
body {
   max-width: 100vw;
}

body {
   background-color: var(--bg);
}

.link {
   animation: var(--float);
   color: inherit;
   text-decoration: none;
   font-size: 30px;
}

:disabled,
:disabled:hover {
   background-color: var(--h2) !important;
   color: var(--shadow) !important;
   cursor: not-allowed;
}

::-webkit-scrollbar {
   width: 10px;
}

::-webkit-scrollbar-track {
   background: var(--shadow);
}

::-webkit-scrollbar-thumb {
   background: var(--h2);
}